doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/services/services
  include ../components/scheme/scheme
  include ../components/about/about
  include ../components/access/access
  include ../components/cooperation/cooperation
  include ../components/faq/faq
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    +header()

    +services()

    +scheme()

    +about()

    +access()

    +cooperation()

    +faq()

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')