html,
body
  height 100%
  
html
  font-size 16px
  width 100%
  overflow-x: hidden
body
  min-width 320px
  font-family $fn
  font-weight 600
  overflow-x hidden
  font-size 16px
  color: #8a8e92

.content
  width 1200px
  margin 0 auto

h2
  font-weight bold
  font-size 60px
  line-height 78px
h3
  font-weight bold
  font-size 40px
  line-height 52px
  color: #37424d
p
  font-weight 600
  font-size 20px
  line-height 26px
  color: #8a8e92