@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot");
  src: url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.woff") format("woff"),
  url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot");
  src: url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.woff") format("woff"),
  url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

$fn = 'IBMPlexSans', sans-serif;