.footer
  background #272E35
  padding-bottom 100px
  padding-top 35px
  ul
    display flex
    justify-content: space-between
    align-items: center
    .close,
    .hdr-cnt
      display none
    a
      font-weight bold
      text-decoration none
      font-size 14px
      position relative
      padding-bottom 7px
      text-transform uppercase
      line-height 18px
      opacity 0.5
      color: #ffffff
      &::after
        content ''
        position absolute
        top 100%
        left 0
        height 1px
        background #ffffff
        width 0
        transition all 0.3s ease
      &:hover
        opacity 1
        &::after
          width 100%
  &-row
    display flex
    justify-content: space-between
    align-items: center
  &-left
    width: 34.5%
  &-right
    width: 61.6666667%
  .up
    width 67px  
    border 1px solid #4d4d4d
    height 153px
    display flex
    cursor pointer
    justify-content: center
    align-items: center
    position relative
    &::before
      content ''
      width 14px
      position absolute
      top -20px
      height 63px
      background: url('../img/assets/footer/up.svg') no-repeat center
      background-size contain
    span
      color: #ffffff
      text-transform uppercase
      font-size 14px
      line-height 18px
      font-weight bold
      transform: rotate(-90deg)
      display block

  &-center
    margin-top 40px
    margin-bottom 60px
    h2
      color: #ffffff
  .coph
    text-transform uppercase
    font-size 20px
    line-height 26px
    color: rgba(255,255,255,0.2)
    font-weight bold
  &-contacts
    display flex
    align-items: flex-start
    span,
    a
      font-size 14px
      line-height 18px
      font-weight bold
      color: #136dfb
      text-decoration none
      text-transform uppercase
      display block
  .contact-item
    width 42.9319372%