mixin footer()
  footer.footer
    .footer-content.content
      //- Footer Top
      .footer-top.footer-row
        //- Footer Left
        .footer-left
          .logo
            a(href='index.html')
              img(src='static/img/assets/header/logo.png')

        //- Footer Right
        .footer-right
          nav
            ul.mn-menu
              .close
              li
                a(href="#") Вендоры
              li
                a(href="#") Проекты
              li
                a(href="#services") Услуги
              li
                a(href="#about") О компании
              .hdr-cnt
                .contact-item
                  span г. Москва, ул. Николоямская, 
                    br 
                    | Д. 24, Стр. 1
                .contact-item
                  span
                    a(href='tel:74991108119') +7 (499) 110 81 19
                  span
                    a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
          .header-burger
      

      //- Footer Center
      .footer-center.footer-row

        //- Footer Left
        .footer-left
          .up 
            span Наверх
        
        //- Footer Right
        .footer-right
          h2 Если у вас есть вопросы или предложения, свяжитесь с нами:
      
      .footer-bottom.footer-row
        
        //- Footer Left
        .footer-left
          .coph © 2018 Neo Dynamics
        
        //- Footer Right
        .footer-right
          .footer-contacts
            .contact-item
              span
                a(href='tel:74991108119') +7 (499) 110 81 19
              span
                a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
            .contact-item
              span г. Москва, ул. Николоямская, 
                br 
                | Д. 24, Стр. 1
              