mixin cooperation()
  section.cooperation
    
    .coop-content.content
      .coop-img
        img(src='static/img/assets/cooperation/coop.jpg')
      .coop-right
        +title('Сотрудничество с NeoDynamics позволяет:')
        ul.coop-list
          li Оптимизировать расходы на реализацию проекта
          li Иметь дело с единственным партнером, отвечающим за качество выполнения всех работ в рамках даже самых сложных проектов
          li Получить максимально эффективные мультивендорные решения
          li Ускорить достижение запланированного результата
          li Повысить общую эффективность   бизнеса