.cooperation
  position relative
  padding-bottom 160px
.coop
  &-img
    width calc(50vw + 10%)
    position absolute
    right -8px
    margin-left auto
    height 301px
    img
      width 100%
      height 100%
      object-fit: cover
  &-right
    width 61.6666667%
    padding-top 350px
    margin-left auto
    .title
      margin-bottom 55px

ul.coop-list
  li
    font-size 16px
    line-height 21px
    font-weight 600
    color: #8a8e92
    padding-left 76px
    min-height 50px
    margin-bottom 25px
    width 45%
    position relative
    &::before
      content ''
      position absolute
      left 0
      top 0
      width 50px
      background url('../img/assets/services/sv1.svg') no-repeat center
      background-size contain
      height 50px