@media only screen and (max-width : 1230px)
  .content
    width 970px
  .controller-content
    margin-left calc((100vw - 970px) / 2)

  .services-item:nth-child(2n)
    .services-item__image
      height 450px
    .services-item__content
      margin-bottom 200px
      top 200px
  .services-item__number
    font-size 90px
  .scheme-right h2
    font-size 40px
    line-height 52px
  .multivendor h2
    font-size 50px
  ul.coop-list li
    width 70%
  .controller-number .current
    padding-right 20px
    margin-left 25px



@media only screen and (max-width : 992px)
  .content
    width 730px
  h3
    font-size 30px
    line-height 39px
  .header
    &-slide
      &__content
        padding-top 200px
        flex-direction: column
      &__left,
      &__right
        width 100%
      &__left
        display flex
        flex-wrap: wrap
        align-items: flex-start
        span
          width 50%
          &:first-child
            margin-bottom 0
          &:last-child
            position relative
            left 50%
            margin-top -15px
    #controller
      bottom -2px
      width 50%
      filter: none
      height auto
      padding-bottom: 0
  .controller-content
    margin-left calc((100vw - 730px) / 2)
  .controller-number
    display none
  #dots
    margin-left 0
    bottom 180px
  .services-left
    display none
  
  
  .services-right,
  .scheme-right,
  .about-right
    width 100%

  .services-item__image
    width 571px
  .services-item__number
    font-size 120px
  .services-item__content
    align-items: center
  .scheme-right p.scheme-txt
    padding-top 30px
    padding-bottom 30px
    width 75%
  .scheme,
  .about
    &-content
      flex-direction: column
    &-left
      width 100%
    ul
      display none
  .scheme-left p
    width 75%
  .services
    padding-bottom 150px
  .services-item:nth-child(2n)
    .services-item__image
      right calc(((-50vw + 360px)))
    .services-item__content
      align-items: flex-start
      top 150px
      margin-bottom 150px
      width 100%
    .services-item__right
      width 60%
  .services-item__right
    width 60%
  .services-item__paragraph
    width 100%
    padding 15px 0
  .scheme-tagline h2
    width 95%
    font-size 50px
    line-height 65px
  .scheme-tagline__bg
    width 83%
  .about
    background-position: 0 100px
  .multivendor h2
    opacity 1
  .access-item__left
    width 100%
  .access-item__image
    width 55%
  .access
    padding-bottom 150px
  .coop-img
    right 0
    width 100%
  .coop-right
    width 100%
  .cooperation
    padding-bottom 120px
  .faq
    &-content
      flex-direction: column
    &-left
      width 100%
      ul
        display none
    &-right
      width 100%
  .footer
    padding-bottom 50px
    &-content
      position relative
    &-center
      flex-direction: column-reverse
      margin-top 0
      margin-bottom 0
      padding-bottom 90px
      padding-top 240px
      h2
        font-size 50px
        line-height 65px
      .footer-right
        width 90%
      .footer-left
        position absolute
        right 0
        bottom 0
        width auto
    &-bottom
      flex-direction: column-reverse
      .footer-left,
      .footer-right
        width 100%
      .footer-right
        padding-bottom 200px
    &-contacts
      flex-direction: row-reverse
      .contact-item
        width 50%

  .services
    padding-top 40px
    &-content
      flex-direction: column
    &-left
      width 100%
      display block
      ul
        display none
    &-right
      width 100%


@media only screen and (max-width : 768px)
  h2
    font-size 35px
    line-height 48px
  .content
    width 450px
  .header-top ul a
    font-size 12px
  .header-slide__left span,
  .header-slide__left span a
    font-size 13px
  .header h2
    margin-top 30px
    font-size 40px
    line-height 48px
  .controller-content
    margin-left calc((100vw - 450px) / 2)
  .controller-top 
    button.owl-next
      padding-right 25px
      margin-right 10px
    button.owl-prev
      padding-left 25px
  .services-item__image
    width 100%
  .services-item:nth-child(2n) 
    .services-item__image
      right calc(((-50vw + 225px)))
    .services-item__right
      width 80%
    .services-item__content
      top 50px
      margin-bottom 50px
  .services-item__icon
    right 50%
  .multivendor
    p
      padding-right 30px 
    h2
      font-size 35px
      line-height 48px
    &-top
      padding-left 0
    &-items
      padding-left 0
      padding-right 0
  .access
    padding-bottom 50px
  .access-item
    flex-direction: column-reverse
    display flex
    &__image
      position relative
      width 100%
    h2
      padding-top 40px  
      font-size 35px
      line-height 48px
    h2,
    p
      width 100%
  .scheme-left p,
  .scheme-right p.scheme-txt
    width 100%
  .scheme-tagline h2
    font-size 35px
    line-height 48px
  .footer-center h2
    font-size 35px
    line-height 48px
  .footer ul a
    font-size 12px
  .services
    padding-top 0
  #dots
    bottom 120px

@media only screen and (max-width : 480px)
  .content
    width: 100%
    padding: 0 20px
    box-sizing border-box
  h2
    font-size 28px
    line-height 36px
  .header h2,
  .about h2,
  .scheme h2,
  .title h2
    font-size 28px
    line-height 36px
  .header-slide__left
    display none
  .header-slide__content
    padding-top 58vh
  #dots
    bottom 50px
  #controller
    display none

  .services-item__image
    position relative
    left -20px
    width: calc(100% + 40px)
    height 210px
  .services-item__content
    width 100%
    position relative
  .services-item__number
    position absolute
    right 0
    margin-right 0
    bottom -70px
  h3
    font-size 20px
    line-height 26px
  .services-item__right
    width 100%
    top 0
    margin-top 30px

  .services-item:nth-child(2n) 
    flex-direction: column
    .services-item__image
      position relative
      left 0
      height 360px
      width 100%
      margin 0
    .services-item__right
      width 100%
    .services-item__title h3 br
      display none
  .services
    padding-bottom 0
  p
    font-size 16px
    line-height 21px
  .scheme-right p.scheme-txt
    padding-top 0
  .header h2, .about h2, .scheme h2, .title h2
    font-size 20px
    line-height 26px
  .scheme-steep__paragraph
    width 100%
  .scheme-tagline h2,
  .about h2
    font-size 28px
    line-height 36px

  .about
    &-advantages
      padding-bottom 60px
    &-advantage
      width 100%
      &:first-child
        margin 0
        margin-bottom 60px
      &:nth-child(2)
        position relative
        top 0
        margin-bottom 60px
  .multivendor
    width calc(100% + 40px)
    position relative
    left -20px
    padding-left 20px
    box-sizing border-box
  .access-item__image
    height 410px
  .access-item h2
    font-size 20px
    line-height 26px
    margin-bottom 30px
  .cooperation
    padding-bottom 70px
  .faq h2
    font-size 28px
    line-height 36px
  .faq
    padding-bottom 50px


  .footer
    &-center
      padding-top 70px
      padding-bottom 40px
      .footer-left
        right 20px
      h2
        font-size 28px
        line-height 36px
    &-contacts
      flex-direction: column-reverse
      .contact-item
        width 100%
        padding-bottom 35px
    .coph
      font-size 12px
  ul.mn-menu
    height: 100vh
    position: absolute
    box-sizing: border-box
    transition width 3s ease
    display none
    right 0
    top: 0
    width: 100%
    background: #000
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding-left: 20px
    padding-top: 20vh
    li
      margin-bottom 30px
    a
      font-size 29px
      line-height 28px
      font-weight bold
  

  .header-top__content
    position relative
  .header-burger
    display block
    cursor pointer
    position absolute
    width 30px
    height 40px
    background url('../img/assets/header/menu.svg') no-repeat center 
    right 20px
    cursor pointer
    top 50%
    margin-top -20px
  .close
    display block
    position absolute
    width 20px
    height 40px
    background url('../img/assets/header/close.svg') no-repeat center
    cursor pointer
    right 20px
    background-size contain
    top 20px

  .multivendor
    &-items
      display block
    &-item
      width 100%
      float left
      margin-bottom 10px

  footer.footer
    .mn-menu
      top -35px
    .header-burger
      top 35px
  .footer ul .contact-item
  .header-top ul .contact-item
    display block
    span,
    a
      text-transform uppercase
      color: #ffffff
      display block
      font-size 12px
      line-height 16px
      opacity 1
      font-weight bold
    span
      a
        color: #ffffff
  .hdr-cnt
    position absolute
    bottom 30px
    .contact-item
      width 100%
    .contact-item:first-child
      margin-bottom 40px
  .footer ul .close, .footer ul .hdr-cnt
    display block
  .header ul .close
    display block