.access
  padding-bottom 90px
  &-item
    position relative
    &__left
      width 61.6666667%
      margin-left auto
    h2,
    p
      width 66.2162162%
    h2
      padding-top 150px
      color: #37424d
      margin-bottom 60px
    p
      font-size 16px
      line-height 21px
      margin-bottom 30px
      width 40%
    &__image
      width: 37.5625%
      right 0
      height 764px

      top 0
      z-index -1
      position absolute
      img
        width 100%
        height 100%
        object-fit: cover