mixin access(data)
  section.access
    .access-item
      .access-item__content.content
        .access-item__left
          h2 Компетенции 
            br
            | и Комплексный подход
          p Компания осуществляет проектное управление сложными поставочными, сервисными и интеграционными проектами в сфере информационных технологий.
          p Каждая задача решается комплексно, начиная от разработки проектной документации до внедрения и сервисного обслуживания IT-инфраструктуры
      .access-item__image
        img(src='static/img/assets/access/access.jpg')