.about
  background url('../img/assets/about/about.png') no-repeat center
  background-size cover
  background-position 0 300px
  padding-bottom 95px
  &-left
    width 34.5%
    ul
      margin-top 70px
  &-right 
    width 61.6666667%
  &-content
    display flex
    justify-content: space-between


.about-advantages
  padding-bottom 200px
.about-advantage
  width: 36.7801047%
  &:first-child
    margin-left 57.460733%
    margin-bottom 0
  &:nth-child(2)
    position relative
    top -60px
    margin-bottom -10px
  &:last-child
    margin 0 auto
  &__number
    font-size 120px
    line-height 156px
    font-weight bold
    color: #37424d
    margin-right 25px
    margin-bottom 8px
    display inline-block
    vertical-align middle
  &__value
    font-size 14px
    line-height 18px
    vertical-align middle
    font-weight: bold
    color: #fc1048
    display inline-block
  &__text
    p
      font-weight 600
      font-size 16px
      line-height: 21px
      color: #8a8e92
.multivendor
  background #ffffff
  filter: drop-shadow(0px 40px 60px rgba(0,0,0,0.05))
  padding-top 40px
  position relative
 
  h2
    opacity 0.2
    padding-bottom 40px
    color: #37424D
  &-top
    padding-left 55px
    position relative
    &::after
      content ''
      position absolute
      right 0
      bottom 0
      width calc(100% - 55px)
      height 1px
      background rgba(0,0,0,0.1)
    p
      color: #8a8e92
      padding-right 95px
      padding-bottom 30px
      &:last-child
        padding-bottom 65px
  &-items
    padding: 60px 55px 20px 55px
    display flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
  &-item
    width 20%
    margin-bottom 60px
    margin-right 5%
    &:nth-child(4n)
      margin-right 0
    img
      width 100%