include ../title/title
mixin about(data)
  section.about#about
    .about-content.content

      //- About left
      .about-left
        +title('О компании')
        p Создание комплексных IT-инфраструктур по принципу «единой точки ответтвенности», от проектирования до обучения персонала и технической поддержки
        ul.cnt-ul
          li
            a(href="#services") Услуги
          li
            a(href="#scheme") Схема работы
          li
            a(href="#about") О Компании
          li
            a(href="#faq") F.A.Q
      

      //- About right
      .about-right

        .about-advantages
          //- About Advantage
          .about-advantage
            .about-advantage__number 6
            .about-advantage__value лет
            .about-advantage__text
              p высокоэффективный проектный офис работает на российском рынке IT-технологий

          //- About Advantage
          .about-advantage
            .about-advantage__number 15
            .about-advantage__value лет
            .about-advantage__text 
              p минимальный опыт практической работы в IT-сфере каждого топ-менеджера и руководителя среднего звена NeoDynamics
          
          //- About Advantage
          .about-advantage
            .about-advantage__number 378
            .about-advantage__text

              p Реализованных проектов
        
        .multivendor
          .multivendor-top
            h2 Мультивендорность
            p NeoDynamics работает со всеми крупнейшими IT-вендорами рынка России и СНГ. 
            p Располагает сертификатами партнерских статусов. 
            p Партнерский пул компании составляют десятки ведущих IT-компаний, готовых в любой момент подключиться к реализации каждого проекта:

          .multivendor-items
            .multivendor-item
              img(src='static/img/assets/about/ibm.svg')
            .multivendor-item
              img(src='static/img/assets/about/avaya.svg')
            .multivendor-item
              img(src='static/img/assets/about/cisco.svg')
            .multivendor-item
              img(src='static/img/assets/about/lenovo.svg')
            .multivendor-item
              img(src='static/img/assets/about/lenovo.svg')
            .multivendor-item
              img(src='static/img/assets/about/cisco.svg')
            .multivendor-item
              img(src='static/img/assets/about/avaya.svg')
            .multivendor-item
              img(src='static/img/assets/about/ibm.svg')
            .multivendor-item
              img(src='static/img/assets/about/ibm.svg')
            .multivendor-item
              img(src='static/img/assets/about/avaya.svg')
            .multivendor-item
              img(src='static/img/assets/about/cisco.svg')
            .multivendor-item
              img(src='static/img/assets/about/lenovo.svg')
            .multivendor-item
              img(src='static/img/assets/about/lenovo.svg')
            .multivendor-item
              img(src='static/img/assets/about/cisco.svg')
            .multivendor-item
              img(src='static/img/assets/about/avaya.svg')
            .multivendor-item
              img(src='static/img/assets/about/ibm.svg')