mixin header(data)
  header.header
    
    //- Header top
    .header-top
      .header-top__content.content
        
        .logo
          a(href='index.html')
            img(src='static/img/assets/header/logo.png')
        
        nav
          ul.mn-menu
            .close
            li
              a(href="#") Вендоры
            li
              a(href="#") Проекты
            li
              a(href="#services") Услуги
            li
              a(href="#about") О компании
            .hdr-cnt
              .contact-item
                span г. Москва, ул. Николоямская, 
                  br 
                  | Д. 24, Стр. 1
              .contact-item
                span
                  a(href='tel:74991108119') +7 (499) 110 81 19
                span
                  a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
              
        .header-burger
        
    //- Header Centenr
    .header-center
      //- Header Slider
      .header-slider
        .header-slides.owl-carousel

          //- Header Slide
          .header-slide
            .header-slide__image
              img(src='static/img/assets/header/header.jpg')
            .header-slide__content.content
              .header-slide__left
                span г. Москва, ул. Николоямская, 
                  br 
                  | Д. 24, Стр. 1
                span 
                  a(href='tel:+74991108119') +7 (499) 110 81 19
                span
                  a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
              .header-slide__right
                h2 Мы создаем
                  span комплексные 
                    br 
                    |IT-инфраструктуры


          //- Header Slide
          .header-slide
            .header-slide__image
              img(src='static/img/assets/header/header.jpg')
            .header-slide__content.content
              .header-slide__left
                span г. Москва, ул. Николоямская, 
                  br 
                  | Д. 24, Стр. 1
                span 
                  a(href='tel:+74991108119') +7 (499) 110 81 19
                span
                  a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
              .header-slide__right
                h2 Мы создаем
                  span комплексные 
                    br 
                    |IT-инфраструктуры1

          //- Header Slide
          .header-slide
            .header-slide__image
              img(src='static/img/assets/header/header.jpg')
            .header-slide__content.content
              .header-slide__left
                span г. Москва, ул. Николоямская, 
                  br 
                  | Д. 24, Стр. 1
                span 
                  a(href='tel:+74991108119') +7 (499) 110 81 19
                span
                  a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
              .header-slide__right
                h2 Мы создаем
                  span комплексные 
                    br 
                    |IT-инфраструктуры2
          //- Header Slide
          .header-slide
            .header-slide__image
              img(src='static/img/assets/header/header.jpg')
            .header-slide__content.content
              .header-slide__left
                span г. Москва, ул. Николоямская, 
                  br 
                  | Д. 24, Стр. 1
                span 
                  a(href='tel:+74991108119') +7 (499) 110 81 19
                span
                  a(href='mailto:info@neodynamics.ru') info@neodynamics.ru
              .header-slide__right
                h2 Мы создаем
                  span комплексные 
                    br 
                    |IT-инфраструктуры3
      #controller
        .controller-content
          .controller-top
          .controller-number
            span.current  03
            span.all 06
      .dots-content.content
        #dots