.header
  background rgba(0,0,0,0.8)
  position relative
  min-height 100vh
  &-top
    position absolute
    left 0
    z-index 33
    top 0
    width 100%
    height 100px
    &__content
      height 100px
      display flex
      align-items: center
    nav
      width 61.6666667%
    ul
      display flex
      justify-content: space-between
      align-items: center
      .contact-item,
      .close
        display none
      a
        font-weight bold
        text-decoration none
        font-size 14px
        position relative
        padding-bottom 7px
        text-transform uppercase
        line-height 18px
        opacity 0.5
        color: #ffffff
        &::after
          content ''
          position absolute
          top 100%
          left 0
          height 1px
          background #ffffff
          width 0
          transition all 0.3s ease
        &:hover
          opacity 1
          &::after
            width 100%
  .logo
    width 36.25%
  &-center
    position relative
    width 100%
    min-height 100vh
  #controller
    position absolute
    background #ffffff
    width 36.25%
    padding-bottom 76px
    position absolute
    bottom -76px
    left 0
    z-index 35
    filter: drop-shadow(0 40px 60px rgba(111,111,111,0.86) )
    height 40vh

  &-slide
    position relative
    height 100%
    width 100%
    min-height 100vh
    &__image
      position absolute
      left 0
      height 100%
      width 100%
      top 0
      img
        width 100%
        height 100%
        object-fit: cover
    &__content
      display flex
      position relative
      z-index 5
      padding-top 35.8vh
    
    &__left
      width 36.25%
      span
        display block
        color: #ffffff
        font-weight bold
        font-size 14px
        line-height 18px
        text-transform uppercase
        a
          color: #ffffff
          font-weight bold
          text-decoration none
          font-size 14px
          line-height 18px
          text-transform uppercase
        &:first-child
          margin-bottom 20px
    &__right
      width 61.6666667%
  h2
    color: #ffffff
    span
      color: #fc1048
      display block


.controller-content
  padding-top 40px
  position relative
  margin-left calc((100vw - 1200px)/2)
  z-index 35
  
.controller-top
  border-bottom 1px solid #dedede
  padding-bottom 35px
  display flex
  justify-content: space-between
  position relative
  &::after
    content: '';
    width: 1px;
    height: 50px;
    background: #dedede;
    left: 50%;
    position: absolute;
    bottom: 0px;
  button
    background none
    padding 0
    margin 0
    font-size 14px
    font-weight: bold
    line-height 18px
    color: #37424D
    border none
    outline: none
    cursor pointer
    position relative
    text-transform uppercase
    &.disabled
      opacity 0.3
    &.owl-prev
      padding-left 35px
      &::before
        content ''
        position absolute
        left 0
        top: 50%
        margin-top -7.5px
        width 15px
        height 15px
        background url('../img/assets/header/arw.svg') no-repeat center
        background-size contain
      &:hover
        color #fc1048
        &::before
          transform: rotate(180deg)
          background url('../img/assets/header/arw-active.svg') no-repeat center
    &.owl-next
      padding-right 35px
      margin-right 50px
      &::after
        content ''
        position absolute
        right 0
        top: 50%
        margin-top -7.5px
        width 15px
        transform: rotate(180deg)
        height 15px
        background url('../img/assets/header/arw.svg') no-repeat center
        background-size contain
      &:hover
        color #fc1048
        &::after
          transform: none
          background url('../img/assets/header/arw-active.svg') no-repeat center

.controller-number
  padding-top 5vh
  .current
    font-weight: bold
    font-size 120px
    line-height 156px
    color: #37424d
    padding-right 45px
    position relative
    
  .all
    font-size 20px
    font-weight bold
    line-height 26px
    color: #37424d
    position relative
    padding-left 8px
    &::before
      content ''
      width 4px
      height 4px
      background #b0b0b0
      position absolute
      border-radius: 50%
      left 0
      bottom 5px



.dots-content
  position relative
#dots
  position absolute
  bottom 6.6666667vh
  margin-left 36.5%
  z-index 35
button.owl-dot
  width 6px
  height 6px
  outline: none
  border: none
  padding 0
  margin 0
  background #ffffff
  border-radius: 50%
  margin-right 16px
  cursor pointer
  &.active
    width 24px
    border-radius: 10px