include ../title/title
mixin services(data)
  section.services#services
    //- Services content
    .services-content.content
      
      //- Services Left
      .services-left
        +title('Услуги')
        p Телекоммуникация. Финансы. Промышленность. Государственный сектор
        ul.cnt-ul
          li
            a(href="#services") Услуги
          li
            a(href="#scheme") Схема работы
          li
            a(href="#about") О Компании
          li
            a(href="#faq") F.A.Q


      //- Services right
      .services-right
        //- Services Items
        .services-items

          //- Services Item
          .services-item
            
            .services-item__image
              img(src='static/img/assets/services/img1.jpg')
              .services-item__icon
                img(src='static/img/assets/services/sv1.svg')
            .services-item__content
              .services-item__number 01
              .services-item__right
                .services-item__title 
                  h3 Комплексное управление крупными интеграционными проектами
                .services-item__paragraph
                  p Формирование и организационная поддержка офиса управления проектами...
                .services-item__link
                  span Подробнее
                  p Формирование и организационная поддержка офиса управления проектами...
        
          //- Services Item
          .services-item
            
            .services-item__image
              img(src='static/img/assets/services/img2.jpg')
              .services-item__icon
                img(src='static/img/assets/services/sv2.svg')
            .services-item__content
              .services-item__number 02
              .services-item__right
                .services-item__title 
                  h3 Проектирование, внедрение и модернизация комплексных решений в области IT
                .services-item__paragraph
                  p и промышленной автоматизации, систем управления IT-инфраструктурой, сетей передачи данных и ЦОД
                .services-item__paragraph
                  p Предпроектное исследование существующей инфраструктуры ...
                .services-item__link
                  span Подробнее
                  p Формирование и организационная поддержка офиса управления проектами...

          //- Services Item
          .services-item
            
            .services-item__image
              img(src='static/img/assets/services/img3.jpg')
              .services-item__icon
                img(src='static/img/assets/services/sv3.svg')
            .services-item__content
              .services-item__number 03
              .services-item__right
                .services-item__title 
                  h3 Аудит и поддержка IT-инфраструктур и прикладных программных решений
                .services-item__paragraph
                  p Проведение детального аудита текущей инфраструктуры ...
                .services-item__link
                  span Подробнее
                  p Формирование и организационная поддержка офиса управления проектами...


          //- Services Item
          .services-item
            
            .services-item__image
              img(src='static/img/assets/services/img4.jpg')
              .services-item__icon
                img(src='static/img/assets/services/sv4.svg')
            .services-item__content
              .services-item__number 04
              .services-item__right
                .services-item__title 
                  h3 Поставка 
                    br 
                    |оборудования 
                    br 
                    |и программного 
                    br 
                    |обеспечения
                .services-item__paragraph
                  p Подбор оптимального оборудования и программного обеспечения ...
                .services-item__link
                  span Подробнее
                  p Формирование и организационная поддержка офиса управления проектами...
