.services
  padding-top 140px
  background-color #fff
  background url('../img/assets/services/s1.svg') no-repeat right top,  url('../img/assets/services/s2.svg') no-repeat right 40%
  background-size auto
  &-content
    display flex
    justify-content: space-between
  &-left
    width: 24.1666667%
    padding-top 50px
    p
      margin-bottom 70px
  
  &-right
    width: 61.6666667%

ul.cnt-ul
  a
    font-size 14px
    line-height 18px
    text-decoration none
    height 48px
    padding-left 31px
    color: #8a8e92
    opacity 1
    transition: all 0.5s ease
    position relative
    line-height 48px
    display block
    &::before
      content ''
      height 48px
      transition: all 0.5s ease 
      position absolute
      left 0
      bottom 0
      width 1px
      background #8a8e92
      opacity 0.5
    &:hover
      color: #fc1048
      opacity 1
      &::before
        background #fc1048
        opacity 1

.services
  &-item
    margin-bottom 100px
    position relative
    &__number
      margin-right 10%
      font-size 120px
      font-weight bold
      color #edf4fb
      line-height 156px
    &__image
      width 74.7382199%
      height 352px
      position relative
      > img
        width 100%
        height 100%
        object-fit: cover
    &__right
      position relative
      top -25px
    &__icon
      position absolute
      right 0
      width 118px
      height 118px
      margin-right -59px
      top 50%
      margin-top -59px
      img
        width 100%
        height 100%
        object-fit: contain
    &__paragraph
      padding: 30px 0
      width 60%
    &__content
      display flex
      width 93.0628272%

    p
      font-size 16px
      line-height 21px
      font-weight 600
    &__link
      &.active
        span
          &::after
            transform: rotate(180deg)
      p
        display none
      span 
        color #136dfb
        font-size 14px
        cursor pointer
        line-height 18px
        font-weight bold
        text-transform uppercase
        position relative
        text-decoration none
        padding-right 15px
        &::after
          content ''
          position absolute
          width 10px
          height 10px
          background url('../img/assets/services/angle.svg') no-repeat center
          background-size cover
          right 0
          top 50%
          margin-top -5px


  &-item:nth-child(2n)
    display flex
    flex-direction: row
    justify-content: flex-start
    .services-item__image
      width 57.0680628%
      position absolute
      right 0
      height 571px
    .services-item__paragraph
      padding: 15px 0
    .services-item__number
      margin-bottom 15px
    .services-item__icon
      right 50%
    .services-item__content
      flex-direction: column
      display flex
      position: relative;
      width: 72.2513089%;
      left: 0;
      top: 250px;
      margin-bottom 250px