include ../title/title
mixin faq(data)
  section.faq#faq
    .faq-content.content

      //- Faq Left
      .faq-left
        +title('F.A.Q.')
        ul.cnt-ul
          li
            a(href="#services") Услуги
          li
            a(href="#scheme") Схема работы
          li
            a(href="#about") О Компании
          li
            a(href="#faq") F.A.Q


      //- Faq Right
      .faq-right
        .faq-list
          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Предоставляете ли вы рассрочку платежа?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.

          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Есть ли у вас услуга хеджирования, можно ли зафиксировать в договоре валютный курс, действительный на момент его заключения?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.
          
          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Поставляете ли вы локализованное оборудование в рамках процесса импортозамещения?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.
          //- Faq Item
          .faq-item
            .faq-item__question
              h3 С какими вендорами вы работаете и в каком статусе?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.
          
          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Возможна ли договорная поставка оборудования на территорию иностранных государств?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.

          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Реализуете ли вы проекты с участием сторонних компаний-партнеров?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.
        
          //- Faq Item
          .faq-item
            .faq-item__question
              h3 Как вы организуете логистические цепочки?
            .faq-item__answer
              p Да, локализация оборудования важна для наших клиентов, участвующих в государственных тендерах, и мы успешно решаем эту задачу. С учетом потребностей заказчика в рамках долгосрочных программ сотрудничества возможна локализация различного типа оборудования на производственных мощностях на территории РФ, в соответствии с техническими регламентами Таможенного союза.
