.faq
  padding-bottom 130px
  &-content
    display flex
    justify-content: space-between
  &-left
    width: 34.5%
  &-right
    width: 61.6666667%


.faq-item
  padding-bottom 30px
  margin-bottom 30px
  border-bottom 1px solid #dedede
  &.active
    .faq-item__question h3
      color: #136dfb
      margin-bottom 30px
  &__question
    cursor pointer
    h3
      transition: all 0.3s ease
  &__answer
    display none
    p
      font-weight 600
      line-height 21px
      font-size 16px
