.scheme
  padding-bottom 70px
  &-content
    display flex
  &-left
    width: 34.5%
    p
      margin-bottom 30px
  &-right
    width: 61.6666667%
    p.scheme-txt
      padding-top 100px
      padding-bottom 80px
    .title
      margin-bottom 71px
  &-steep
    margin-bottom 70px
    &:nth-child(2n)
      position relative
      .scheme-steep__name
        position: absolute
        right: 0
        background: #fff
        z-index: 33
        top: -80px
        padding-left: 20px
        margin: 0
      .scheme-steep__content
        padding-left 0
        padding-right 45px
        text-align right
        margin-left 0
        margin-right 25px
        border-left 0
        border-right 1px solid #dedede
      .scheme-steep__paragraph
        margin-left auto
      .scheme-steep__icon
        left  auto
        right -25px
    &:nth-child(3)
      .scheme-steep__name
        position: relative
        top: -80px
        margin: 0
        padding-right: 20px
        background: #fff
        display: inline-block
    &:last-child
      .scheme-steep__content
        border none
    &__paragraph
      width 70%
    &__name
      text-transform uppercase
      font-weight bold
      font-size 14px
      line-height 18px
      color: #fc1048
      margin-bottom 50px
      
    &__icon
      width 50px
      height 50px
      display flex
      justify-content: center
      align-items: center
      position absolute
      left -25px
      top 0
      background #ffdcdc
      border-radius: 50%
    &__content
      padding-left 45px
      position relative
      margin-left 25px
      border-bottom 1px solid #dedede
      padding-bottom 80px
      border-left 1px solid #dedede
      
      p
        padding-top 25px
        font-size 16px
        line-height 21px

  &-tagline
    position relative
    padding-top 52px
    padding-bottom 80px
    &::after
      content ''
      position absolute
      right 25%
      width 52px
      height 36px
      bottom -18px
      background url('../img/assets/scheme/quote.png') no-repeat
    &__bg
      width 57.5%
      position absolute
      top 0
      right -5px
      height 100%
      z-index -1
      border: 5px solid #ffdcdc

    h2
      color: #37424D
      width: 61.6666667%
      margin-left auto