include ../title/title
mixin scheme(data)
  section.scheme#scheme
    .scheme-content.content
      .scheme-left
        +title('Схема работы')
        p Особенность нашего подхода – комплексная реализация проектов.
        ul.cnt-ul
          li
            a(href="#services") Услуги
          li
            a(href="#scheme") Схема работы
          li
            a(href="#about") О Компании
          li
            a(href="#faq") F.A.Q
      .scheme-right
        p.scheme-txt Мы располагаем инструментами и опытом, позволяющими закрывать самые большие, глубокие и серьезные задачи в области информационных технологий, актуальные для наших заказчиков и делаем это на совесть.
        +title('Мы придерживаемся логичной проектной последовательности:')

        .scheme-steeps
          
          //- Scheme Steep
          .scheme-steep
            .scheme-steep__name Шаг 1

            .scheme-steep__content
              .scheme-steep__icon
                img(src='static/img/assets/scheme/sc1.svg')
              .scheme-steep__title
                h3 Аудит
              .scheme-steep__paragraph
                p Знакомство с компанией и ее задачами, изучение и анализ ее корпоративной IT-инфраструктуры; формирование технического задания на разработку проекта.

          //- Scheme Steep
          .scheme-steep
            .scheme-steep__name Шаг 2

            .scheme-steep__content
              .scheme-steep__icon
                img(src='static/img/assets/scheme/sc2.svg')
              .scheme-steep__title
                h3 Проектирование
              .scheme-steep__paragraph
                p Разработка эффективных индивидуальных проектных решений в соответствии с масштабами, задачами и спецификой работы организации-заказчика. Подготовка пакета проектной документации и юридическое обоснование/сопровождение проекта.
        
          //- Scheme Steep
          .scheme-steep
            .scheme-steep__name Шаг 3

            .scheme-steep__content
              .scheme-steep__icon
                img(src='static/img/assets/scheme/sc3.svg')
              .scheme-steep__title
                h3 Поставка
              .scheme-steep__paragraph
                p Составление логистической цепочки. Подбор и поставка оборудования в любую точку России или на территорию иностранных государств, подбор/разработка программного обеспечения, необходимого для реализации проекта.

          //- Scheme Steep
          .scheme-steep
            .scheme-steep__name Шаг 4

            .scheme-steep__content
              .scheme-steep__icon
                img(src='static/img/assets/scheme/sc4.svg')
              .scheme-steep__title
                h3 Запуск IT-инфраструктуры 
              .scheme-steep__paragraph
                p Проведение пусконаладочных работ и интеграция новой IT-инфраструктуры.



    //- Scheme Tagline
    .scheme-tagline
      .scheme-tagline__bg
      .content
        h2 Все решается – Все работает. IT-интегратор NeoDynamics